*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(243,200,183,0.4);
    color: rosybrown;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    max-height: 500px;
}

button {
    color: rbga(255,255,240,1);
}

.calculator{
    max-width: 350px;
    /* height: 500px; */
    border: 15px cornflowerblue solid;
    border-radius: 15px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(169, 169, 169, 0.938);
}

.screen{
    min-height: 80px;
    max-width: 280px;
    padding: 20px;
    border: 5px cornsilk solid;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: burlywood;
    font-size: 30px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    overflow-x: hidden;
}

.buttons-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(4,1fr); */
}

.span-2{
    grid-column: span 2;
}

.btn{
    padding: 15px;
    border-radius: 5px;
    background-color: beige;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    /* border: 1px solid balck; */
}

.btn:hover{
    background-color: aquamarine;
}

.btn-red:hover{
    background-color: rgba(255, 0, 0, 0.664);
}

.btn-blue:hover{
    background-color: rgba(0, 0, 255, 0.671);
}

footer{
    height: 20px;
    /* padding-top: 30px; */
    margin: 0 auto;
    text-align: center;

}

input[type = number]::-webkit-inner-spin-button,
input[type = number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
